header{
	background-color: lightcoral;
	text-align: center;
}

img {
	width: 400px;
	height: 400px;
}

article {
	display: flex;
	align-items: baseline;
}


section{
	border: 3px solid hotpink;
	background-color: pink;
	width: 400px;
	flex-wrap: wrap;
	line-height: 25px;
	word-break: keep-all;
}

@media screen and (max-width: 900px) {
	body {
		background-color: lightblue;
	}
	p {
		font-size: 15px;
		line-height: 20px;
		word-break: keep-all;
	}
}